body{
    display: flex;
    justify-content: center;
    background-color:rgb(71, 160, 219);
}

.titulo-wrapper{
    display: flex;
    width: 90%;
    margin: 0.5%;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    .titulo{
        font-size:calc(150%);
        font-weight: bolder;
    }
}

.capa-wrapper{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    .capa{
        height: auto;
        width: auto;
        max-width: 95%;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.198);;
    }
}
.subtitulo-wrapper{
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    justify-content: center;

    .subtitulo{
        font-size:calc(100%);
    }
}

.categoria-wrapper{
    display: flex;
    width: 100%;
    margin: 0.5%;
    text-align: center;
    justify-content: center;
    .categoria{
        font-size:calc(90%);
        font-weight: bold;
    }
}

.conteudo-wrapper{
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2.5%;
    border-style: solid;
    border-radius: 50px;
    background-color: antiquewhite;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.198);
}

.acoes-wrapper{
    display: flex;
    width: 80%;
    justify-content: center;
    padding-bottom: 10px;
    padding-left: 8%;
    .botao-wrapper{
        width: 50%;
        display: flex;
        justify-content: center;
    }
}

a{
    text-decoration: none;
}